<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace = "mapper.bbsMapper">

	<select id="selectBbs" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
	    	bbsNo
	    	, userId 
   			, bbsTitle
	    	, bbsContents
	    	, DATE_FORMAT(insertTs, '%Y-%m-%d %H:%i:%S') as insertTs
	    FROM
	    	bbsInfo
	    WHERE
	    	bbsNo = #{bbsNo}			
	</select>
	
	
	<select id="selectBbsList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT
	    	bbsNo
	    	, userId 
   			, bbsTitle
	    	, bbsContents
	    	, DATE_FORMAT(insertTs, '%Y-%m-%d %H:%i:%S') as insertTs
	    FROM
	    	bbsInfo
	
	</select>

</mapper>